<!DOCTYPE html>
<html>

<head>
    <title>NodeJs文件上传</title>
    <meta charset="utf-8" />
    <script src="/javascripts/jquery.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript">
        function ajax() {
            var formData = new FormData($("#files")[0]);
            formData.append("username", "Groucho");
            $.ajax({
                url: '/upload/singleUpload',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    console.log(data);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    document.getElementById("status").innerHTML = "<span style='color:#EF0000'>连接不到服务器，请检查网络！</span>";
                }
            });
        }

        function majax() {
            var formData = new FormData($("#mfiles")[0]);
            $.ajax({
                url: '/upload/mulUpload',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    console.log(data);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    document.getElementById("status").innerHTML = "<span style='color:#EF0000'>连接不到服务器，请检查网络！</span>";
                }
            });
        }
    </script>

</head>

<body>
    <div id="status" style="height:45px"></div>
    <h2>单个文件上传</h2>
    <form method="post" enctype="multipart/form-data" id="files">
        <input type="file" name="avatar" /><br/>
        <input type="text" name="aaaa" /><br/>
        <input type="text" name="bbb" /><br/>
        <input type="button" value="submit" onclick="ajax()" /><br/>
    </form>

    <h2>多文件上传</h2>
    <form method="post" enctype="multipart/form-data" id="mfiles">
        <input type="file" name="photos" /><br/>
        <input type="file" name="photos" /><br/>
        <input type="file" name="photos" /><br/>
        <input type="text" name="aaaa" /><br/>
        <input type="text" name="bbb" /><br/>
        <input type="button" value="submit" onclick="majax()" /><br/>
    </form>
</body>

</html>