<!DOCTYPE html>
<html>

<head>
    <title>Props</title>
    <script src="../public/js/vue.js">

    </script>
    <script>
        // 注册 组件
        Vue.component('button-counter', {
            template: '<button v-on:click="incrementCounter">{{ counter }}</button>',
            data: function () {
                return {
                    counter: 0
                }
            },
            methods: {
                incrementCounter: function () {
                    this.counter += 1
                    this.$emit('increment')
                }
            },
        })
    </script>
</head>

<body>
    <div id="counter-event-example">
        <p>{{ total }}</p>
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <button-counter v-on:increment="incrementTotal"></button-counter>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            parentMsg: ''
        }
    });

</script>

</html>