.upload-container {
    background-image: url(../images/add.jpg);
    background-repeat: no-repeat;
    width: 180px;
    height: 200px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 200px;
    height: 200px;
}