<!DOCTYPE html>
<!-- /home 显示对象 -->
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) { %>
        <h2><%= user.name %></h2>
        <h3><%= user.age %></h3>
    <% } %>
  </body>
</html>
