<!DOCTYPE html>
<!-- /ifelse  if else 表达式 -->
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <p>
    <%= add(opr.l,opr.r)%>
  </p>
</body>

</html>